body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #6a11cb, #ff6a00);
  color: white;
  text-align: center;
}

.container {
  margin-top: 100px;
}

button {
  padding: 12px 25px;
  border-radius: 10px;
  border: none;
  background: black;
  color: white;
  margin: 10px;
}

select, input {
  padding: 10px;
  margin: 10px;
}
