body {
  margin: 0;
  font-family: Arial;
  background: #0a1f44; /* dark blue */
  color: black;
}

.container {
  text-align: center;
  margin-top: 120px;
}

h1, h2 {
  color: black;
}

button {
  padding: 12px 25px;
  border-radius: 10px;
  border: none;
  background: #00c3ff;
  color: black;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  background: #0099cc;
}

select, input {
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: none;
}
